

// Colors
$gray_light: #666;
$gray_light_2: rgb(161, 160, 161);
$gray_dark: rgb(36, 35, 35);
$blue_dark: navy;
$blue_light: blue;
$orange: rgb(230, 124, 39);
$red: rgb(136, 4, 4);
$white: rgb(255, 253, 253);

