@import "fonts";
@import "colors";

html,
body {
  padding: 0;
  margin: auto;
  width: 100%;
  font-family: "Arial", "Roboto";
}
body {
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

header {
  background-color: $blue_light;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: $gray_dark;
  width: 100%;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: $white;
  padding: 0.5em;
}

footer {
  background-color: $blue_dark;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: $white;
  width: 100%;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0.5em;
  width: 100%;
  flex-wrap: wrap;
  flex-basis: 0;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0.5em;
  width: 45%;
}
picture,
img {
  margin: 0.2em 0;
  max-width: 100%;
  border-radius: 5%;
}
.image {
  margin: 0.2em 0;
  max-width: 100%;
  border-radius: 5%;
}

.tag {
  color: $white;
  margin: 0.3em;
}

.icon-container {
  padding: 0.5em;
}
.header-title {
  font-size: 35px;
  font-weight: 500;
}

.title {
  font-size: 27px;
  text-align: center;
  width: 100%;
  font-weight: 400;
}

@media (max-width: 600px) {
  section {
    width: 97%;
  }
}