

// Colors
$gray_light: #666;
$gray_light_2: rgb(161, 160, 161);
$gray_dark: rgb(36, 35, 35);
$blue_dark: rgb(64, 63, 131);
$blue_light: rgb(192, 205, 248);
$orange: rgb(230, 124, 39);
$red: rgb(136, 4, 4);
$white: rgb(255, 253, 253);

